#main_container{ :class=>"container"}
  #node{:class => "form-signin"}
    = form_for(@node) do |f|
      = f.fields_for @node.location do | location |
        = location.text_field :address, { :class=>"form-control", :placeholder=>t(:save_placeholder_addres)}

      = f.fields_for @node.routers.first do | router |
        = router.text_field :ip, { :class=>"form-control", :placeholder=> t(:save_placeholder_ip)}
        = router.text_field :mac, { :class=>"form-control", :placeholder=> t(:save_placeholder_mac)}
        = router.text_field :essid, { :class=>"form-control", :placeholder=> t(:save_placeholder_essid)}
        = router.text_field :password, { :class=>"form-control", :placeholder=>t(:save_placeholder_pass)}
        = router.text_field :channel, { :class=>"form-control", :placeholder=>t(:save_placeholder_channel)}
        = router.text_field :comment, { :class=>"form-control", :placeholder=>t(:save_placeholder_comment)}
      = f.submit t(:btn_save) , {:class=>"btn btn-lg btn-primary btn-block", :type=>"submit"}