#main-bar{ :class=>"navbar navbar-inverse navbar-fixed-top", :role=>"navigation"}
  %div{ :class=>"container"}
    %div{ :class=>"navbar-header"}
      %button{ :type=>"button",:class=>"navbar-toggle",:data=>{:toggle=>"collapse",:target=>".navbar-collapse"} }
        %span{:class=>"sr-only"}Toggle navigation
        %span{:class=>"icon-bar"}
        %span{:class=>"icon-bar"}
        %span{:class=>"icon-bar"}
      %a{ :id=> "back_to_root", :class=>"navbar-brand", :href=> root_path } #{t(:index_link)}
    %div{:class=> ["navbar-collapse", "collapse"]}
      %form{ :class=>["navbar-form", "navbar-right"], :role=>"form"}
        %div{ :class=>"form-group"}
          %input{ :id=>"busca_router", :class=>"form-control", :type=>"search", :placeholder=>t(:nav_placeholder_search)}
        #lock_up_location{ :type=>"submit", :class=>"btn btn-info"} #{t(:nav_btn_search)}

#map

#contextMenu{:class=>["dropdown", "clearfix"]}
  %ul{:class=>"dropdown-menu",:role=>"menu",:style=>"display:block;margin-bottom:5px;"}
    %li{:role=>"presentation"}
      %a{ :id=>"new_node", :tabindex=>"-1", :role=>"menuitem", :href=> new_node_path } #{t (:share_action)}
    %li{:role=>"presentation"}
      %a{:tabindex=>"-1", :role=>"menuitem", :href=>"#"}Action
    %li{:role=>"presentation"}  
      %a{:tabindex=>"-1", :role=>"menuitem", :href=>"#"}Action

#bodyContent



#modal{:class=>"modal fade bs-example-modal-sm",:tabindex=>"-1",:role=>"dialog",:aria => {:labelledby=>"mySmallModalLabel", :hidden=>"true"} }
  %div{ :class=>"modal-dialog modal-sm"}
    #modal_content{ :class=>"modal-content"}
      #modal_header{ :class=>"modal-header"}
        %h4{ :class=>"modal-title", :id=>"myModalLabel"} #{t(:header_text)}
      #modal_content{ :class=>"modal-body"}
        #address
        #router
      #modal_footer{ :class=>"modal-footer"}
        %button{ :type=>"button", :class=>"btn btn-info", :data => { :dismiss=>"modal" } } #{t(:btn_close)}
